header {
    background-color: #0005;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    position: relative;
    
}

header button {
    font-size: 18px;
    width: 160px;
    height: 50px;
    border-radius: 0px;
    border-color: #000000;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 40px 40px rgb(185, 132, 9) inset, 0 0 0 0 rgb(185, 132, 9);
    /* margin-right: 100px; */
  
  }
  
  
  header button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }

