* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.712);
  padding: 20px;
}

header img {
  margin-top: 10px;
  margin-top: 5;
}


header button {
  font-size: 18px;
  width: 160px;
  height: 50px;
  border-radius: 0px; 
  border-color: #000000;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 40px 40px rgb(185, 132, 9) inset, 0 0 0 0 rgb(185, 132, 9);

}

header  button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
} 

a img{
  margin-top: 10px;
}

.logo img {
  width: 85px;
  margin-bottom: 5px;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/imgEditNH.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0007;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
}

.slider{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 10%;
  margin-left: 30%;
}

.mySlides {
  display: none;
  border-radius: 0.5rem;
  width: 50%;
}

.slider-pointer {
  z-index: 2;
  width: 25px;
  height: 60px;
  position: absolute;
  background-color: #00000000;
  transform: translateY(-50%);
  border: none;
}

.slider-pointer1 {
  width: 25px;
  height: 60px;
}

.slider-pointer2 {
  width: 25px;
  height: 60px;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 70px;
  background: #b98409;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked+label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

button {
  width: 18px;
  height: 40px;
  background-color: transparent;
  color: white;
  border-color: none;
}