@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;

}

header {
  background-color: #000000AA;
  height: 90px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  position: relative;

}

.logo img {
  width: 85px;
}

.container-header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 70px;
  background: #b98409;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked+label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}



:root {
  --backgroundPrimary: #eeeeee;
  --backgroundSecondary: #000000;
  --cardPrimary: #B98309;
}

body {
  width: 100vw;
  height: 100vh;
}

header {
  height: 12.5%;
  width: 100%;
  background-color: var(--backgroundSecondary);
}

form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
}

select {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-size: 1rem;
  width: 100%;
  flex-grow: 1;
  color: white;
  border-radius: 1em;
  background-color: #B98309;
}

main {
  width: 100%;
  height: 87.5%;
  padding: 5em 7.5em;
  display: flex;
  gap: 5em;

}

main .editar {
  flex-grow: 2;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  justify-content: center;
  /* background-color: lightcoral; */

}

main .editar input {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-size: 1rem;
  width: 100%;
  flex-grow: 1;
  color: white;
  border-radius: 1em;
  background-color: #B98309;
}

main .editar input::placeholder {
 color: white;
}


main .btn-enviar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 750;
  color: aliceblue;
  border-radius: 1em;
  background-color: #73861F;
  border: none;
  font-size: 1rem;
}

/* form {
  width: 100%;
  height: 100%;
   */



main .image {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: rel12.5ive; */
  /* background-color: lightpink; */

}

main .image img {
  /* position: absolute; */
  height: 100%;
  cursor: pointer;

}

@media (max-width: 750px) {

  main {
    width: 100%;
    height: 100%;
    padding: 2em;
    flex-direction: column;
  }

  main .editar {
    width: 100%;
    height: 100%;
  }


  main .editar input {
    width: 100%;
    height: 100%;
  }

  main .btn-enviar {
    font-size: 1rem;
  }


}