@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    font-family: 'Rye', cursive;
}

:root {
    --backgroundPrimary: #f8f9fa;
    --backgroundSecondary: #FDC043;
    --cardPrimary: #B98309;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

section h1 {
    font-size: 3.5rem;
    color: #f8f9fa;
}

section div {
    display: flex;
    gap: 5em;
}

section div button {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-size: 1.2rem;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

section div button:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}